
body {
  margin: 0;
  height: 100vh;
}

.header {
    height: 20px;
    background-color: black;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
#app_title {
    font-family: "Roboto Light", monospace;
    color: #eeeeee;
    padding-left: 15px;
}
.graph_container {
    /*display: flex;*/
    justify-content: space-around;
}
h3 {
    color: #FF1C89;
}
.row_header {
    background-color: black;
    color: whitesmoke;
}
.row_row {
    display: flex;
    justify-content: space-around;
}
.set_container {
    width: fit-content;
}
.set_header {
    background: #FF1C89;
    border-radius: 0 10px 0 0;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Monaco, monospace;
    color: whitesmoke;
}
.set_value {
    background: #eeeeee;
    border: 2px solid #FF1C89;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0 0 10px 10px;
}

.detail {
    height: 100%;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    color: whitesmoke;
    float: right;
  overflow-x: hidden;
  transition: 0.5s;
  width: 0;
  /*z-index: 1;*/
    background-color: black;
  position: fixed; /* Sit on top of the page content */
  top: 0;
  right: 0;
  padding-top: 60px;
}

@media screen and (max-height: 450px) {
  .detail-column{padding-top: 15px;}
}
