include viasp_dash/viasp_dash.min.js
include viasp_dash/viasp_dash.min.js.map
include viasp_dash/async-*.js
include viasp_dash/async-*.js.map
include viasp_dash/*-shared.js
include viasp_dash/*-shared.js.map
include viasp_dash/metadata.json
include viasp_dash/package-info.json
include README.md
include LICENSE
include package.json
