#python
__pycache__/
*.py[cod]
*$py.class
*.egg-info
dist/
build/
# mac
*DS_Store
# dev
*.idea
#js
*node_modules
*.build_cache
*inst
*deps
*man
# notes
*.md
# ignore build of viasp dash
frontend/viasp_dash/*
# data
*.json
