
#mainDisplay {
    background-color: #FF1C89;
    flex: 1 1 auto;
    margin: 0;
}

canvas {
    color: #2196F3;
}

body {
    margin: 0;
    height: 100vh;
    /*display: flex;*/
    flex-flow: column;
}

.header {
    background-color: black;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    align-content: center;
    height: 5vh;
    /*flex: 0 1 auto;*/
}

#app_title {
    font-family: "Roboto Light", monospace;
    color: #eeeeee;
    padding-left: 15px;
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#display_all_toggle_span {
    float: right;
}

.graph_container {
    /*display: flex;*/
    justify-content: space-around;
    /*float: left;*/
    background: transparent;
    flex-direction: column;
}

.row_header {
    background-color: black;
    color: whitesmoke;
}

.row_row {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background: transparent;
}

.row_container {
    justify-content: space-around;
    background: transparent;
}

/**** NODES ****/
.set_container {
    width: fit-content;
}

.set_header {
    background: #FF1C89;
    border-radius: 0 10px 0 0;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Monaco, monospace;
    color: whitesmoke;
}

.set_value {
    background: #eeeeee;
    border: 5px solid #FF1C89;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    font-size: 18pt;
    border-radius: 0 10px 10px 10px;
}

.detail {
    float: right;
    height: 95vh;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    color: whitesmoke;
    /*float: right;*/
    overflow-x: scroll;
    transition: 0.1s;
    width: 0;
    z-index: 1;
    background-color: black;
    /*position: fixed; !* Sit on top of the page content *!*/
    top: 0;
    right: 0;
    padding-top: 60px;
}

@media screen and (max-height: 450px) {
    .detail-column {
        padding-top: 15px;
    }
}

/*CHECKBOX*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* DETAIL VIEW */

/* Containers */
.detail_atom_view_heading {
    font-family: monospace, sans-serif;
    overflow: hidden;
    text-align: left;
}

.detail_atom_view_heading:after {
    background-color: #cccccc;
    color: #cccccc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    /*vertical-align: middle;*/
    width: 75%;
}

.detail_atom_view_heading:before {
    right: 0.5em;
    margin-left: -50%;
}

.detail_atom_view_heading:after {
    left: 0.5em;
    margin-right: -50%;
}



