<!doctype html>
<head>
    <title>Example Fingerprinter</title>
    <link rel=stylesheet type=text/css href="{{ url_for('app.static', filename='stylesheet.css') }}">
</head>
<body>
<div class="header">
    <div id="app_title">
        <span>viASP</span>
        <span id="display_all_toggle_span">Show All:
        <label id="display_all_toggle" class="switch">
            <input type="checkbox" value="show_all" checked={{ settings.show_all }}>
            <span class="slider round"></span>
        </label></span>
    </div>
</div>
<div id="content">
    <div id="detailSidebar" class="detail">
    </div>
    <div id="graph_container" class="graph_container">
    </div>
</div>
<script type=text/javascript src="{{ url_for('app.static', filename='main.js') }}">
</script>
</body>
